<%= form_for(@holiday) do |f| %>
  <% if @holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% @holiday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br />
    <%= f.text_field :from_date, :class => "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br />
    <%= f.text_field :to_date, :class => "datepicker" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
