<ul>
  <% @holidays.each do |holiday| %>
      <li class="holidayitem">
        <%= link_to holiday.name, holiday %>
        <div>
          <span class="details"><%= holiday.from_date %> to <%= holiday.to_date %></span>
        <span class="actionlinks">
          <span><%= link_to 'Edit', edit_holiday_path(holiday) %></span>
          <span><%= link_to "Delete", holiday, :confirm => 'Are you sure?', :method => :delete%></span>
        </span>
        </div>
      </li>
  <% end %>
</ul>

