<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <span class="inlineeditform">
    <span><%= @holiday.name %></span>
    <%= link_to 'Edit', {}, :class => "inlineedit" %>
    <span class="hiddeninline">
    <%= form_for(@holiday) do |f| %>
      <%= f.text_field :name, :class => "field" %>
          <%= f.submit "Save", :field => "name" %>
    <% end %>
  </span>
  </span>

</p>

<p>
  <b>From date:</b>
  <%= @holiday.from_date %>
</p>

<p>
  <b>To date:</b>
  <%= @holiday.to_date %>
</p>

