<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<% props = view_properties %>
<div id="banner">
  <h1>Holiday Planner</h1>
</div>
<div id="header">
  <h2><%= props[:heading] %></h2>
</div>
<div id="content" class="panels">
  <%= yield %>
</div>
<div id="sidepanel" class="panels">
  <ul>
    <% props[:sidepanel].each do |panel| %>
        <li>
          <%= link_to panel[:title], panel[:link] %>
        </li>
    <% end %>
  </ul>
</div>
</body>
</html>
